.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
h2,
h4,
h5 {
  margin: 0;
}
.text {
  margin: 10px;
  font-family: sans-serif;
  max-width: 100%;
}
.ques {
  margin: 10px;
  font-family: sans-serif;
}
.App-header {
  background: #37393d;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
